* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 20px;
  background-color: #f3f3f3;
}

.title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
}

h2 {
  margin-bottom: 1.6rem;
  text-align: center;
  color: #353535;
}

.subtitle {
  color: #353535;
}

#box-shadow-generator {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid #013438;
}

#controls-container,
#preview {
  flex: 1;
  padding: 2rem;
}

.form-control {
  display: flex;
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px dashed #ccc;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #555;
}

.range-input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.range-input input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  background-color: #f3f3f3;
  outline: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 24px;
  background-color: #013438;
  cursor: pointer;
  border-radius: 10px;
}

.reference-input {
  display: flex;
  align-items: center;
}

.reference-input p {
  margin-left: 4px;
}

.form-control input[type="text"] {
  height: 30px;
  width: 30px;
  margin-left: 1rem;
  text-align: center;
}

#box {
  width: 100%;
  height: 300px;
  background-color: #013438;
  border-radius: 20px;
}

#generated-rule {
  text-align: center;
}

#generated-rule p {
  margin-bottom: 0.5rem;
}

#rules-area {
  background-color: white;
  max-width: 970px;
  margin: 0 auto;
  border: 2px solid #013438;
  padding: 1rem;
  border-radius: 20px;
}
